body {
	background: #222;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	outline: none;
}

::selection {
	background: #ff4500;
}

input {
	caret-color: #ff4500;
}

/* Copy-able code */
code {
	user-select: text;
	background: #424242;
	border-radius: 3px;
	padding: 10px;
}

/* Buttons */
button {
	background: #ff4500;
	cursor: pointer;
	border: none;
	color: #fff;
	padding: 10px 20px;
}

.disabled-button {
	background: #808080;
	cursor: not-allowed;
}

/* Text Inputs */
input[type='text'] {
	background-color: #1d1d1d;
	color: #fff;
	user-select: all;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px 5px;
	caret-color: #ff7300;
	transition: 0.2s;
	font-family: monospace, Consolas;
	outline: none;
}

input[type='text']:focus {
	box-shadow: 0px 0px 10px #4d4dff;
}

/* Dropdowns */
select {
	background: #000;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #1b1b1b;
	border: 3px solid #222222;
	border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
	background: #585858;
	border-radius: 9999px;
	border: 3px solid #222222;
}

::-webkit-scrollbar-thumb:hover {
	background: #2e2e2e;
}

/* Red error text */
.error {
	text-shadow: 0 0 8px #f00;
}
